@model Shop.Domain.ViewModels.Admin.Products.FilterProductCategoriesViewModel

<h2 class="title text-center mb-4">دسته بندی های محبوب</h2>

<div class="cat-blocks-container">
    <div class="row">
        @if (Model.ProductCategories != null && Model.ProductCategories.Any())
        {
            @foreach (var category in Model.ProductCategories)
            {
                <div class="col-6 col-sm-4 col-lg-2">
                    <a href="@category.UrlName" class="cat-block">
                        <figure>
                            <span>
                                <img src="@(PathExtensions.CategoryOrgin + category.ImageName)" alt="Category image">
                            </span>
                        </figure>
                        <h3 class="cat-block-title">@category.Title</h3>
                    </a>
                </div>
            }
        }
    </div>
</div>