<nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
    <div class="position-sticky pt-3">
        <ul class="nav flex-column">
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" asp-area="Admin" asp-controller="User" asp-action="Index">
                    <span data-feather="home"></span>
                    مدیریت کابران
                </a>
                
                <a class="nav-link active" aria-current="page" asp-area="Admin" asp-controller="User" asp-action="FilterRoles">
                    <span data-feather="home"></span>
                    مدیریت نقش ها
                </a>
                <a class="nav-link active" aria-current="page" asp-area="Admin" asp-controller="Product" asp-action="FilterProductCategories">
                    <span data-feather="home"></span>
                    مدیریت دسته بندی ها
                </a>
            </li>
        </ul>
    </div>
</nav>